{% load django_simple_bulma %}
{% load sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Website van het Minigigs Cycling Team">
    <meta name="keywords" content="Minigigs Cycling Team, Minigigs, Cycling, Wielrennen, Den Haag">
    <meta name="author" content="Sebastiaan Zeeff">

    <title>Minigigs Cycling Team | {% block title %}Website{% endblock %}</title>

      {% bulma %}

      {# Font-awesome here is defined explicitly so that we can have Pro #}
      <script src="https://kit.fontawesome.com/ae6a3152d8.js"></script>

      <link rel="stylesheet" href="{% static "css/base/base.css" %}">
      {% block head %}{% endblock %}

      {% render_block "css" %}
</head>
<body class="site">
    <main class="site-content">
      {% block content %}
        {{ block.super }}
      {% endblock %}
    </main>

    {% block site_footer %}
      {% include "base/footer.html" %}
    {% endblock %}

    {% render_block "js" %}
</body>
</html>
