{% load django_simple_bulma %}
{% load sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Website van het Minigigs Cycling Team">
    <meta name="keywords" content="Minigigs Cycling Team, Minigigs, Cycling, Wielrennen, Den Haag">
    <meta name="author" content="Sebastiaan Zeeff">

    <title>Minigigs Cycling Team | {% block title %}Website{% endblock %}</title>

    {% bulma %}

    {# Font-awesome here is defined explicitly so that we can have Pro #}
    <script src="https://kit.fontawesome.com/fe8fdab2df.js"></script>

    <link rel="stylesheet" href="{% static "css/base/base.css" %}">
    {% block head %}{% endblock %}

    {% render_block "css" %}
</head>
<body class="site">
<main class="site-content">
    {% block content %}
        {{ block.super }}
    {% endblock %}
</main>

{% block site_footer %}

<div id="modal-image-popup" class="modal">
    <div class="modal-background"></div>
    <div class="custom-modal-content">
        <div class="box">
            <p class="image">
                <img src="" id="modal-img" alt="Pop-up Image Holder" class="modal-image">
            </p>
        </div>
    </div>
    <button class="modal-close is-large has-background-danger" aria-label="close"></button>
    <button id="gallery-previous" class="button is-primary is-large gallery-button previous-image" aria-label="previous" data-target="modal-image-popup">Vorige</button>
    <button id="gallery-next" class="button is-primary is-large gallery-button next-image" aria-label="next" data-target="modal-image-popup">Volgende</button>
</div>

{% endblock %}
<script src="{% static "js/main.js" %}"></script>
{% render_block "js" %}
</body>
</html>
