{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}



{% block content %}
    {% include 'base/navigation.html' %}
    <section class="section">
        <div class="container is-spaced">
            <div class="columns is-variable">
                <div class="column is-8">
                    {% if messages %}
                        {% for message in messages %}
                            <article class="message is-info">
                              <div class="message-header">
                                  {{ message.extra_tags }}
                              </div>
                               <div class="message-body">
                                {{ message }}
                              </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                    {% for article in articles %}
                        {% url 'home:article' pk=article.pk slug=article.slug as article_url %}
                        <div class="card home-article">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="{{ article_url }}">
                                        <img src="{{ article.image_url }}" alt="Cover Image"
                                             class="frontpage-cover-image">
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <h1 class="title has-text-primary is-size-4">
                                    <a href="{{ article_url }}">{{ article.title }}</a>
                                </h1>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{{ article.author.profile.avatar_url }}" alt="Roemer"
                                                 class="is-rounded profile-picture">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-6">
                                            {{ article.author }}
                                        </p>
                                        <p class="subtitle is-7">
                                            <time datetime="{% now "Y-m-d" %}">
                                                <i class="far fa-calendar"></i> {{ article.pubdate | date:"d F Y - H:i" }}
                                            </time>
                                        </p>

                                    </div>
                                </div>
                                <div class="content">
                                    {{ article.content | truncatewords:50 | linebreaks }}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ article_url }}" class="card-footer-item">Lees meer</a>
                            </footer>
                        </div>
                    {% endfor %}
                </div>
                <div class="column is-hidden-mobile">
                    {% if user.is_authenticated %}
                        <div class="box">
                            <aside class="menu">
                                <p class="menu-label">
                                    Beheerdersmenu
                                </p>
                                <ul class="menu-list">
                                    <li>
                                        <a href="{% url 'authors:article-new' %}">
                                            Nieuw bericht
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userprofile:profile-edit' %}">
                                            Bewerk profiel
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    {% endif %}
                    <div class="box">
                        <a href="http://minigigs.nl" target="_blank">
                            <img src="{% static "images/logos/minigigs_fc_with_subtitle.svg" %}" alt="Minigigs logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
